/* 
    1. Home news
    2.Home banner
    3.Thời trang
    4. Phụ kiên
    5.Giay, dep, tui ví
*/
/* @import "antd/dist/antd.css"; */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

.clear {
  clear: both;
}
.img-respon {
  max-width: 100%;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.pl {
  padding-left: 0px;
}
.color-orange {
  color: orangered;
}
.color-yellow {
  color: #ffbf00;
}
.color-blue {
  color: #209e91;
}
.color-grey {
  color: #5e5b5b;
}
.color-blue1 {
  color: #3294da;
}

a {
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #209e91;
}
.link-pass:hover {
  color: #209e91 !important;
  cursor: pointer;
}
.img-border {
  border-radius: 20px;
}
/* .main-page {
  margin-top: 60px;
  position: relative;
} */
/*-------------------------
1. Side-nav
-------------------------*/
/*#region BANNER */
.igi_banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.igi_banner .igi_bn_item {
  width: 100%;
  height: 500px;
  background: #f1f1f1;
  position: relative;
}

.igi_banner .igi_bn_item .img-bn {
  width: auto;
  width: 100%;
  height: 500px;
  margin: auto;
}
.igi_banner .igi_bn_item .link-banner {
  position: absolute;
  font-family: "Dancing Script";
  top: 50%;
  left: 30%;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.igi_module_bn .title-bn {
  position: absolute;
  top: 50%;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  left: 50%;
}

.igi_module_bn .title-bn h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.igi_bn_item .box-link {
  display: inline-flex;
  position: absolute;
  bottom: 20px;
  background: #fff;
  opacity: 0.85;
  padding: 10px;
  border-radius: 10px;
  left: 10%;
}
.igi_bn_item .box-link .item-box-link {
  width: 210px;
  height: auto;
  padding: 15px;
}
/* #endregion banner */
/* #region News */
.module-banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}
.module-banner::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  top: 15% !important;
  background: linear-gradient(
    to bottom,
    rgba(50, 50, 50, 0) 0%,
    rgba(16, 15, 15, 0.91) 93%,
    rgba(16, 15, 15, 0.93) 97%
  ) !important;
  transition: 0.2s all ease-in-out;
  opacity: 1;
}
.img-banner {
  width: 100%;
}
.title-bn {
  position: absolute;
  top: 50%;
  text-align: left;
  left: 10%;
  color: #fff;
  z-index: 2;
}
.title-bn h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.title-content {
  color: #165b6b;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0 20px;
}

.title-content h2 {
  font-size: 35px;
  font-weight: 700;
}

.item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.view-detail {
  color: #8d8a8a;
}

.link-news {
  font-size: 22px;
  margin-top: 15px;
  font-weight: 600;
}
.news-list .img-news img {
  border-radius: 20px;
  opacity: 0.85;
}
.news-list .img-news:hover img {
  opacity: 1;
}
.divContent {
  margin-top: 20px;
}

.divContent h1 {
  color: #165b6b;
  font-size: 25px;
  font-weight: 700;
}

.divContent h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.divContent p {
  margin-bottom: 10px;
}

.divContent img {
  max-width: 100%;
  margin-bottom: 10px;
}

/* #endregion news */
/* #region GIOI THIEU */
.paci-font {
  font-family: "Dancing Script";
  line-height: 1;
  font-weight: 500;
  font-size: 30px;
}

.content-gt {
  margin-top: 50px;
}

.title-gt {
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #165b6b;
  margin-bottom: 1rem;
}

.btn-more {
  text-transform: uppercase;
  background: #165b6b;
  color: #fff;
  border-radius: 30px;
  padding: 6px 20px;
}

.btn-more:hover {
  background: #2c6a78;
}

.img-gt {
  padding-right: 0 !important;
}

.img-gt img {
  width: 100%;
}
/* #endregion */

/* #region Tin tức home */
.news {
  background: url("./images/anh-lua.jpg") no-repeat;
  padding: 30px 0;
  opacity: 0.9;
}
.news .title-news {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
.news-home .img-news {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 10px;
}
.news-home .img-news img {
  opacity: 1;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: all 300ms ease-in 0ms;
}
.news-home .img-news:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.listnews-home .img-news img {
  opacity: 0.7;
  height: 400px;
}
.news-home .img-news .link-news {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: 700;
}
.news-home .img-news .link-news:hover {
  color: #78f1e5;
}
.news-home .text-small {
  font-size: 12px;
  color: #f1f1f1;
}
.news-home .btn-them {
  text-align: center;
}
/* #endregion Tin tức home */

/* #region Login */
.login {
  position: relative;
  background: url("./images/hue.jpg") no-repeat;
  margin: 0 auto;
  height: 400px;
  width: 800px;
}

.login form {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  position: relative;
  padding: 100px 20px;
}
/* #endregion Login */

/* #region MyAccount */
.my-account {
  margin-top: 30px;
}
.my-account .img-profile {
  border-radius: 50%;
}
.my-account .info-profile {
  margin-top: 20px;
}

.title-profile {
  color: #fff;
  background: #25cdaf;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 10px;
  text-transform: uppercase;
}
/* #endregion MyAccount */

/* #region SIDEBAR */
.why-choose {
  border: 1px solid #eee;
  padding: 20px 15px;
  margin-top: 20px;
}

.why-choose h2 {
  font-size: 19px;
  font-weight: 500;
}

.why-choose .fa {
  color: #25cdaf;
  margin-right: 10px;
  font-size: 18px;
}

.why-choose .why-item {
  margin: 10px 0;
}

.news-event {
  border: 1px solid #eee;
  margin-top: 20px;
}
.news-event .title-news {
  color: #25cdaf;
  padding: 7px 15px 0;
  font-size: 25px;
  font-weight: 700;
}
.news-event .border-bottom {
  margin: 0 0 15px;
}
.sidebar-content .item-news {
  margin: 0 10px 15px 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #e5e5e5;
}
.sidebar-content .item-news:last-child {
  border-bottom: none;
}
.sidebar-content .item-news figure {
  width: 80px;
  float: left;
  margin: 0 10px 0 0;
}
.sidebar-content .item-news figure img {
  width: 100%;
}
.sidebar-content .content_sidebar {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
.sidebar-content .title_sidebar h2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* #endregion */

/* #region CreatePost */

.create-post .banner-post img {
  width: 100%;
  max-width: 100%;
  height: 450px;
}
.create-post .title-post {
  color: #165b6b;
  font-weight: 600;
  font-weight: 20px;
  margin: 20px 0;
}
.create-post .form-control.form-title-post {
  font-weight: 600;
}
/* #endregion CreatePost */

/* #region Post Liên quan */
.post-lq {
  margin: 20px 0;
}
.post-lq .react-multi-carousel-list button {
  outline: none;
}
/* #endregion Post Liên quan */

/*#region my-trip */
.content-trip {
  margin-top: 15px;
}
/*#endregion my-trip  */
/* error */
.error.show {
  position: absolute;
  top: 10%;
  width: 92%;
}
